@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-controller="StudentCourse" asp-action="Index" class="btn btn-primary btn-lg">Overview</a>
    <a asp-area="" asp-controller="Student" asp-action="Index" class="btn btn-primary btn-lg">See All Students</a>
    <a asp-area="" asp-controller="Course" asp-action="Index" class="btn btn-primary btn-lg">See All Courses</a>    
</div>
